body{
    background-image: url(../../assets/images/papyrus.png);
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: white;
}


h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px 30px;
    line-height: 25px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 25px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #777777;
    margin: 5% 0;
}

h5 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;   
    padding: 5% 0;
}

#spacer {
    padding: 2%;
}

#aboutMe {
    background-color: white;
}

#portfolio {
    background-color: white;
}

img {
    transform: rotate(180deg);
    height: 267px;
    padding-left: 25px;
}

#nameCard img {
    padding: 0;
    background-color: white;
}

#nameCard {
    background-color: white;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    width: 100%;
    margin-top: 15%;
    padding: 25px 0PX;
    color: white;
    background-color: #777777;
    text-align: center;
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    border-color: #4aaaa5;
}
